<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #list {
        width: 600px;
        border: 1px solid black;
        border-collapse: collapse;
      }
      #list td,
      #list th {
        border: 1px solid black;
        text-align: center;
      }
      #list > thead > tr {
        color: yellow;
        background-color: purple;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <table id="list">
        <thead>
          <th>번호</th>
          <th>이름</th>
          <th>전화번호</th>
        </thead>
        <tbody id="contacts">
           <!-- 여러 개의 요소를 묶어서 반복시키고 싶을 때 template태그 사용 -->
            <!-- 화면에는 렌더링되지 않는다 -->
          <template v-for="(contact, index) in contacts" :key="contact.no">
            <tr>
              <td>{{contact.no}}</td>
              <td>{{contact.name}}</td>
              <td>{{contact.tel}}</td>
            </tr>
            <!-- 4줄마다 가로선 하나 추가 -->
            <tr class="divider" v-if="index%4==3">
              <td colspan="3"></td>
            </tr>
          </template>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            contacts: [
              { no: 1011, name: 'RM', tel: '010-3456-8299' },
              { no: 1012, name: '정국', tel: '010-3456-8298' },
              { no: 1013, name: '제이홉', tel: '010-3456-8297' },
              { no: 1014, name: '슈가', tel: '010-3456-8296' },
              { no: 1015, name: '진', tel: '010-3456-8295' },
              { no: 1016, name: '뷔', tel: '010-3456-8294' },
              { no: 1017, name: '지민', tel: '010-3456-8293' },
            ],
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
