<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #warning {
        color: red;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div>
        <input type="text" placeholder="이름 입력" v-model="name" /><br />
        <textarea cols="50" placeholder="편지 내용" v-model="content"></textarea
        ><br />
      </div>
      <div>
        <b>마음 속 이유 (2개 이상 선택하세요):</b>
        <br />
      </div>

      <template v-for="(reason, index) in reasons" :key="index">
        <label
          ><input
            type="checkbox"
            :value="reason"
            v-model="selected"
          />{{reason}}</label
        >
      </template>
      <br />
      시간: <input type="text" v-model="time" />

      <div id="warning">
        <p v-show="name.length===0">🔺이름을 입력해주세요</p>
        <p v-show="content.length<200">
          🔹 편지 내용을 200자 이상 작성해주세요. (현재 {{content.length}}자)
        </p>
        <p v-show="time>18">💢 현재 시간이 너무 늦었어요!(마감:18시)</p>
        <p
          v-show="selected.filter(function(value){
                if(value==='신뢰'||value==='배려'||value==='따뜻함'
                )return true;}).length<2"
        >
          💦 '신뢰', '배려', '따뜻함' 중 최소 2개를 선택해주세요
        </p>
      </div>
      <p>{{condition.length}}</p>
      <button v-if="condition.length===4">마지막 고백 결심 버튼</button>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            time: 0,
            selected: [],
            reasons: [
              '유머 감각',
              '신뢰',
              '배려',
              '따뜻함',
              '같이 있으면 편안함',
            ],
            content: '',
            name: '',
            condition: [],
          };
        },
        computed: {},
      }).mount('#app');
    </script>
  </body>
</html>
