<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="time" />
      <div v-if="time>=17">
        <p>마감 임박! 아래 항목 중 마지막으로 남은 준비: {{lists[3]}}</p>
      </div>
      <div v-else>
        <p>아직 준비할 항목:</p>
        <ul>
          <li v-for="(list, index) in lists" :key="index">-{{list}}</li>
        </ul>
      </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            time: 0,
            lists: ['편지 작성', '편지 검토', '봉투 밀봉', '스탬프 찍기'],
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
