* {
  /* 전체 스타일 리셋!! */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f6f8fa;
}

.header {
  background-color: #24292e;
  color: white;
  padding: 1rem;
  text-align: center;
}

.header__title {
  font-size: 1.5rem;
}

/* layout */
.layout {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.sidebar {
  width: 250px;
  flex-shrink: 0;
  background-color: #fff;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  border: 1px solid #ddd;
}
.sidebar__nav ul {
  list-style: none;
}

.sidebar__nav li {
  margin-bottom: 0.5rem;
}

.sidebar__nav a {
  text-decoration: none;
  color: #0366d6;
}

/* main */
.main {
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #ddd;
}

/* footer */
.footer {
  background-color: #24292e;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
