<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 언더스코어 포함된 컬럼명을 카멜케이스 자바 필드명으로 자동 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
    <typeAliases>
        <!-- BoardVO 같은 클래스명을 XML에서 간단히 사용할 수 있게 별칭 등록 -->
        <package name="org.scoula.board.domain" />
    </typeAliases>
</configuration>