<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapper인터페이스와 정확히 일치하는 경로 지정-->
<mapper namespace="org.scoula.icecream.mapper.IcecreamMapper">

    <insert id="create">
        insert into tbl_icecream(name, flavor, price)
        values (#{name}, #{flavor}, #{price})

        <selectKey resultType="Long" keyProperty="no" keyColumn="no" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="getList" resultType="org.scoula.icecream.domain.IcecreamVO">
        <![CDATA[
        select *
        from tbl_icecream
        order by no desc
        ]]>
    </select>
</mapper>